@charset 'utf-8';
html {
    width: 100%;
    font-size: 62.5%;
    font-family: 'SimHei';
    background: #fff;

}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    cursor:default;
    list-style-type: none;
    -webkit-appearance:none;
}
.header {
    background: #F7AB00;
    // position: relative;
    height: 54px;
    width: 100%;
    position:fixed;
    top: 0px;
    left: 0;
    z-index: 1;

    p {
    text-align: center;
    line-height: 5rem;
    font-size: 2.4rem;
    color: #fff;
    display: block;
    // font-weight: bold;
    }
    img {
    width: 100%;
    display: block;
    }
    .link1 {
    // position: absolute;
    position:fixed;
    top:0.5rem;
    left: 3%;
    display: block;
    }
    .link2 {
    // position: absolute;
    position:fixed;
    top:0.5rem;
    right: 3%;
    }
}
.top {
    margin-top: 70px;
}
.view {
    align: center;
    margin: 5%;
    width: 90%;
    height: 50%;
    // width: 600px;
    height: 380px;
    max-height: 400px;
    background: #ddd url('../img/1.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.list1 {
    height: 29px;
    width: 100px;
    background: #F7AB00;
    margin-left: 5%;
    p {
    font-size: 2.1rem;
    color: #fff;
    padding: 2px 4px 1px 4px;
    }
}
.list11 {
    // margin: 3% 5% 3% 5%;
    margin-left: 5%;
    width: 100%;
    text-align: center;
    figure {
    height: 280px;
    width: 43%;
    border: none;
    background: #ededed url('../img/l1.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // position:absolute;
    // display: inline-block;
    float: left;
    margin: 2% 4% 1% 0%;
    .null {
        // width: 43%;
        margin-bottom: 254px;
    }
    .name {
        height: 27px;
        background: #F7AB00;
        font-size: 2.1rem;
        // margin-bottom: -150px;
        filter:alpha(opacity=80);
        -moz-opacity:0.8;
        -khtml-opacity:0.8;
        opacity:0.8;
        m {
            color: #fff;
            font-size: 1.8rem;
            padding-right: 3%;
        }

    }
    }
}
.more {
    clear:both;
    text-align: center;
    margin-bottom: 65px;
}
.footer {
    height: 58px;
    background: #fff;
    width: 100%;
    position:fixed;
    // position: absolute;
    bottom: 0%;
    left: 0;
    border-top: 1px solid #ddd;
    ul li {
        display: inline-block;
        width: 23%;
        background: #fff;
        a {
            color: #F7AB00;

        }
    }

}

@media screen and (max-width: 768px){
    .view {
    height: 170px;
    }
    .list11 figure {
        height: 100px;
        .null {
        // width: 43%;
        margin-bottom: 81px;
    }
    .name {
        height: 18px;
        font-size: 1.0rem;
        padding-bottom: 19px;
        m {
        font-size: 1.6rem;

        }
    }
    }
}