@charset 'utf-8';
html {
    width: 100%;
    font-size: 62.5%;
    font-family: 'SimHei';
    // background: #fff;

}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    cursor:default;
    list-style-type: none;
    -webkit-appearance:none;
}
.header {
    background: #F7AB00;
    // position: relative;
    height: 54px;
    width: 100%;
    position:fixed;
    top: 0px;
    left: 0;
    z-index: 9999;

    p {
    text-align: center;
    line-height: 5rem;
    font-size: 2.4rem;
    color: #fff;
    display: block;
    // font-weight: bold;
    }
    img {
    width: 100%;
    display: block;
    }
    .link1 {
    // position: absolute;
    position:fixed;
    top:0.5rem;
    left: 3%;
    display: block;
    }
    .link2 {
    // position: absolute;
    position:fixed;
    top:0.5rem;
    right: 3%;
    }
}

.list11 {
    // margin: 3% 5% 3% 5%;
    // margin-left: 5%;

    margin-top: 70px;
    width: 100%;
    text-align: center;
    figure {
    height: 280px;
    width: 43%;
    border: none;
    // background: #ededed url('../img/l1.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // position:absolute;
    display: inline-block;
    // float: left;
    margin: 0 1% 10% 1%;
    .name {
        text-align: right;
        height: 27px;
        background: #F7AB00;
        font-size: 2.1rem;
        margin-top: -30px;
        filter:alpha(opacity=77);
        -moz-opacity:0.77;
        -khtml-opacity:0.77;
        opacity:0.77;
        color: #fff;
        padding-top: 2px;
        padding-right: 3%;
    }
    }
}
.more {
    clear:both;
    text-align: center;
    margin-bottom: 65px;
}
.footer {
    height: 58px;
    background: #fff;
    width: 100%;
    position:fixed;
    // position: absolute;
    bottom: 0%;
    left: 0;

    ul li {
        display: inline-block;
        width: 23%;
        background: #fff;
        a {
            color: #F7AB00;

        }
    }

}

@media screen and (max-width: 768px){
    .view {
    height: 170px;
    }
    .list11 {

        figure {
            height: 100px;

            margin: 0 1% 2% 1%;
            a {
                margin: 0 2% 0 0;
            }

            .name {
                height: 17px;
                font-size: 1.0rem;
                // padding-bottom: 19px;
                margin-top: -20px;
            }
        }
    }
}